<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> Vehicle Details</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/fleet">Fleet Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/fleet/vehicles">Vehicle List</a></li>
                    <li><i class="fa fa-square-o"></i>Vehicle Details</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row mb-0">
                <section class="panel">
                    <div class="panel-body">
                        <div class="col-lg-4 text-center" style="font-weight: bold">
                            <div>
                                <img th:src="@{'/img/vehicles/' + ${vehicle.id} +'.jpg'}" width="100%" height="100%"
                                     alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <h4><p><label th:text="${vehicle.name} + '  '"></label> Status:<label>OK</label></p></h4>
                            <br>
                            <p>Twitter: @kindsonthegenius</p>
                            <p>Website: www.kindsonthegenius.com</p>
                            <p>YouTube: Kindson the TechPro</p>
                            <br>
                        </div>
                    </div>
                </section>
            </div>
            <div class="row mb-0">
                <form class="form-horizontal" th:object="${vehicle}">
                    <section class="panel">
                        <header class="panel-heading">
                            Vehicle Details
                        </header>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <section class="panel">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Vehicle Id: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" th:field="*{id}" readonly
                                                   name="id">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Vehicle Type: </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" readonly="" th:field="*{vehicleTypeId}">
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="vehicleType : ${vehicleTypes}"
                                                        th:selected="${vehicleType.id} == ${vehicle.vehicleTypeId}"
                                                        th:value="${vehicleType.id}"
                                                        th:text="${vehicleType.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Vehicle Name: </label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control" th:field="*{name}"
                                                   placeholder="Vehicle name">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Vehicle Number: </label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly class="form-control"
                                                   th:field="*{vehicleNumber}"
                                                   placeholder="Vehicle number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Registration Date: </label>
                                        <div class="col-sm-6">
                                            <input type="date" readonly class="form-control"
                                                   th:field="*{registrationDate}"
                                                   placeholder="Registration date">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Description: </label>
                                        <div class="col-sm-6">
                                            <textarea type="text" readonly class="form-control"
                                                      th:field="*{description}"
                                                      placeholder="Description" rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Acquisition Date: </label>
                                        <div class="col-sm-6">
                                            <input type="date" readonly class="form-control"
                                                   th:field="*{acquisitionDate}" placeholder="Acquisition date">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ddlVehicleMakeAdd" class="col-sm-4 col-form-label">Vehicle
                                            Make: </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" readonly id="ddlVehicleMakeAdd"
                                                     th:field="*{vehicleMakeId}">
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="vehicleMake : ${vehicleMakes}"
                                                        th:selected="${vehicleMake.id} == ${vehicle.vehicleMakeId}"
                                                        th:value="${vehicleMake.id}"
                                                        th:text="${vehicleMake.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="col-lg-6">
                                <section class="panel">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Power: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly th:field="*{power}"
                                                   name="power" placeholder="Power(disel or fuel)">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Fuel Capacity: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly
                                                   th:field="*{fuelCapacity}"
                                                   placeholder="Fuel Capacity">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Net Weight: </label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" readonly
                                                   th:field="*{netWeight}"
                                                   placeholder="Net Weight">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Remarks: </label>
                                        <div class="col-sm-6">
                                            <textarea type="text" readonly class="form-control"
                                                      th:field="*{remarks}" placeholder="Remarks"
                                                      rows="2"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ddlEmployeeAdd" class="col-sm-4 col-form-label">In Charge</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlEmployeeAdd" th:field="*{employeeId}">
                                                <option th:value="${null}" disabled>-SELECT-</option>
                                                <option th:each="employee : ${employees}"
                                                        th:selected="${employee.id} == ${vehicle.employeeId}"
                                                        th:value="${employee.id}"
                                                        th:text="${employee.firstname}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ddlCurrentStatusAdd" class="col-sm-4 col-form-label">Current
                                            Status</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlCurrentStatusAdd" readonly
                                                    th:field="*{vehicleStatusId}">
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="vehicleStatus : ${vehicleStatuses}"
                                                        th:selected="${vehicleStatus.id} == ${vehicle.vehicleStatusId}"
                                                        th:value="${vehicleStatus.id}"
                                                        th:text="${vehicleStatus.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Current Location</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ddlCurrentLocationAdd" readonly
                                                     th:field="*{locationId}">
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="location : ${locations}"
                                                        th:selected="${location.id} == ${vehicle.locationId}"
                                                        th:value="${location.id}"
                                                        th:text="${location.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="ddlVehicleModelAdd" class="col-sm-4 col-form-label">Vehicle
                                            Model: </label>
                                        <div class="col-sm-6">
                                            <select class="form-control" readonly id="ddlVehicleModelAdd"
                                                   th:field="*{vehicleModelId}">
                                                <option th:value="${null}">-SELECT-</option>
                                                <option th:each="vehicleModel : ${vehicleModels}"
                                                        th:selected="${vehicleModel.id} == ${vehicle.vehicleModelId}"
                                                        th:value="${vehicleModel.id}"
                                                        th:text="${vehicleModel.description}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <a disabled="" th:href="@{/fleet/vehicle/Edit/{id}(id=${vehicle.id})}" type="button" class="btn btn-primary">
                                Edit this Record
                            </a>
                            <a href="/fleet/vehicles" class="btn  btn-warning">
                                Exit
                            </a>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>