<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>
<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa-solid fa-list"></i><b style="color: #092f3d">
                    CONTACT DETAILS </b></h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/parameters">Parameters</a></li>
                    <li><i class="fa fa-square-o"></i>Contact Details</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <form class="form-horizontal " th:action="@{/parameters/clients}"
                          th:object="${contact}">
                        <section class="panel">
                            <header class="panel-heading">
                                <h3 style="color: #0b97c4"><i class="fa-solid fa-file-circle-plus"></i> <b>
                                    Details Contact Record</b></h3>
                            </header>
                            <div class="panel-body">
                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="control-label col-sm-4" for="txtIdAdd"></label>
                                        <div class="col-sm-6">
                                            <input id="txtIdAdd" type="text" class="form-control" th:field="*{id}"
                                                   placeholder="Id" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="txtFirstnameAdd">Firstname </label>
                                        <div class="col-sm-6">
                                            <input id="txtFirstnameAdd" class="form-control" th:field="*{firstname}"
                                                   type="text" placeholder="firstname" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="txtLastnameAdd">Lastname </label>
                                        <div class="col-sm-6">
                                            <input id="txtLastnameAdd" class="form-control" th:field="*{lastname}"
                                                   type="text" placeholder="Lastname" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="txtEmailAdd">Email</label>
                                        <div class="col-sm-6">
                                            <input id="txtEmailAdd" class="form-control" th:field="*{email}"
                                                   type="text" placeholder="Email" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="txtMobileAdd">Mobile</label>
                                        <div class="col-sm-6">
                                            <input id="txtMobileAdd" class="form-control" type="text"
                                                   th:field="*{mobile}" placeholder="Mobile" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="txtPhoneAdd">Phone</label>
                                        <div class="col-sm-6">
                                            <input id="txtPhoneAdd" class="form-control" type="text" th:field="*{phone}"
                                                   placeholder="Phone" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label" for="txtRemarksAdd">Remarks</label>
                                        <div class="col-sm-6">
                                            <input id="txtRemarksAdd" class="form-control" th:field="*{remarks}"
                                                   type="text" placeholder="Remarks" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="panel">
                            <div class="panel-body">
                                <button disabled type="submit" class="btn btn-success">Save</button>
                                <a href="/parameters/contacts" class="btn btn-warning">Exit</a>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>